/* estilo.css */

/* Reset de margens e preenchimento para delementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f0f0f0;
}

/* Estilo para o título principal */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
    color: #333;
}

/* Estilo para os botões */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para o link de baixar a planilha */
a.btn-download {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.btn-download:hover {
    background-color: #1e7e34;
}

/* Estilo para a tabela */
.table-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f0f0f0;
    font-weight: bold;
}
